.cnm-container {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    background: linear-gradient(97deg, rgba(242,247,253,1) 0%, rgba(240,244,253,1) 90%);
    border-radius: 0 10px 10px 0;
    padding-bottom: 24px;
    position: relative;
}